{% extends 'main_page.html' %}

{% block content %}
<form method="POST" class="add-form">{% csrf_token %}
    {{ form }}
    <div class="button-wrapper">
        <button type="submit" class="action-button">
            {% if isShowingEdit %}
            <div>แก้จ้า</div>
            {% else %}
            <div>แอดเลย</div>
            {% endif %}
        </button>   
        <a class="action-button" href="{% url 'listpage' %}">
            <div>ดูลิสต์</div>
        </a>                
    </div>
</form>

{% endblock %}