{% load staticfiles %}
<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="content-wrapper">
            <p class="random-content">วันนี้กินไหน</p>
            <div class="button-wrapper">
                <button class="random-button">I have concerns</button>                
            </div>
        </div>
    </body>
</html>